In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('ikea.csv', index_col=0)

In [6]:
data.head(10)

,item_id,name,category,price,old_price,sellable_online,link,other_colors,short_description,designer,depth,height,width
0,90420332,FREKVENS,Bar furniture,265.0,No old price,True,https://www.ikea.com/sa/en/p/frekvens-bar-tabl...,No,"Bar table, in/outdoor, 51x51 cm",Nicholai Wiig Hansen,NaN,99.0,51.0
1,368814,NORDVIKEN,Bar furniture,995.0,No old price,False,https://www.ikea.com/sa/en/p/nordviken-bar-tab...,No,"Bar table, 140x80 cm",Francis Cayouette,NaN,105.0,80.0
2,9333523,NORDVIKEN / NORDVIKEN,Bar furniture,2095.0,No old price,False,https://www.ikea.com/sa/en/p/nordviken-nordvik...,No,Bar table and 4 bar stools,Francis Cayouette,NaN,NaN,NaN
3,80155205,STIG,Bar furniture,69.0,No old price,True,https://www.ikea.com/sa/en/p/stig-bar-stool-wi...,Yes,"Bar stool with backrest, 74 cm",Henrik Preutz,50.0,100.0,60.0
4,30180504,NORBERG,Bar furniture,225.0,No old price,True,https://www.ikea.com/sa/en/p/norberg-wall-moun...,No,"Wall-mounted drop-leaf table, ...",Marcus Arvonen,60.0,43.0,74.0
5,10122647,INGOLF,Bar furniture,345.0,No old price,True,https://www.ikea.com/sa/en/p/ingolf-bar-stool-...,No,"Bar stool with backrest, 63 cm",Carina Bengs,45.0,91.0,40.0
6,70404875,FRANKLIN,Bar furniture,129.0,No old price,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0
7,60155602,DALFRED,Bar furniture,195.0,No old price,True,https://www.ikea.com/sa/en/p/dalfred-bar-stool...,No,"Bar stool, 63-74 cm",Sarah Fager,50.0,NaN,50.0
8,50406465,FRANKLIN,Bar furniture,129.0,No old price,True,https://www.ikea.com/sa/en/p/franklin-bar-stoo...,No,"Bar stool with backrest, foldable, ...",K Hagberg/M Hagberg,44.0,95.0,50.0
9,69304221,EKEDALEN / EKEDALEN,Bar furniture,2176.0,"SR 2,375",True,https://www.ikea.com/sa/en/p/ekedalen-ekedalen...,No,Bar table and 4 bar stools,Ehlén Johansson,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3694 entries, 0 to 3693
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            3694 non-null   int64
 1   name               3694 non-null   object
 2   category           3694 non-null   object
 3   price              3694 non-null   float64
 4   old_price          3694 non-null   object
 5   sellable_online    3694 non-null   bool
 6   link               3694 non-null   object
 7   other_colors       3694 non-null   object
 8   short_description  3694 non-null   object
 9   designer           3694 non-null   object
 10  depth              2231 non-null   float64
 11  height             2706 non-null   float64
 12  width              3105 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(7)
memory usage: 378.8+ KB

In [11]:
data['other_colors'].value_counts()

other_colors
No     2182
Yes    1512
Name: count, dtype: int64

In [10]:
data.describe()

            item_id        price        depth       height        width
count  3.694000e+03  3694.000000  2231.000000  2706.000000  3105.000000
mean   4.863240e+07  1078.208419    54.379202   101.679970   104.470853
std    2.888709e+07  1374.652494    29.958351    61.097585    71.133771
min    5.848700e+04     3.000000     1.000000     1.000000     1.000000
25%    2.039057e+07   180.900000    38.000000    67.000000    60.000000
50%    4.928808e+07   544.700000    47.000000    83.000000    80.000000
75%    7.040357e+07  1429.500000    60.000000   124.000000   140.000000
max    9.993262e+07  9585.000000   257.000000   700.000000   420.000000

In [15]:
data.size

48022

In [17]:
data.shape

(3694, 13)

In [18]:
# data['other_colors_binary'] = data['other_colors'].map({'Yes': 1, 'No': 0})

In [21]:
data['old_price'].unique()

array(['No old price', 'SR 2,375', 'SR 295', 'SR 175', 'SR 995',
       'SR 1,385', 'SR 445', 'SR 925', 'SR 2,205', 'SR 895', 'SR 2,435',
       'SR 125', 'SR 1,595', 'SR 2,880', 'SR 940', 'SR 800', 'SR 1,995',
       'SR 3,245', 'SR 8,735', 'SR 2,310', 'SR 2,560', 'SR 3,760',
       'SR 3,130', 'SR 9,745', 'SR 1,885', 'SR 3,265', 'SR 50/4 pack',
       'SR 1,450', 'SR 250', 'SR 1,590', 'SR 2,360', 'SR 4,040',
       'SR 1,715', 'SR 2,100', 'SR 2,395', 'SR 1,250', 'SR 5,610',
       'SR 7,225', 'SR 2,795', 'SR 8,540', 'SR 1,950', 'SR 5,400',
       'SR 375', 'SR 5,045', 'SR 5,640', 'SR 3,665', 'SR 2,095',
       'SR 2,495', 'SR 9,430', 'SR 6,530', 'SR 138', 'SR 350', 'SR 1,023',
       'SR 437', 'SR 1,390', 'SR 50', 'SR 595', 'SR 275', 'SR 395',
       'SR 26', 'SR 695', 'SR 645', 'SR 649', 'SR 232', 'SR 750', 'SR 30',
       'SR 892', 'SR 10', 'SR 490', 'SR 4,185', 'SR 655', 'SR 27',
       'SR 455', 'SR 7', 'SR 657', 'SR 1,120', 'SR 237', 'SR 22',
       'SR 1,180', 'SR 15', 'SR 10/4 pack', 'SR 2,138', 'SR 452',
       'SR 2,605', 'SR 55', 'SR 65', 'SR 444', 'SR 732', 'SR 266',
       'SR 2,485', 'SR 438', 'SR 550', 'SR 1,948', 'SR 1,865', 'SR 178',
       'SR 840', 'SR 1,098', 'SR 530', 'SR 785', 'SR 205', 'SR 446',
       'SR 951', 'SR 326', 'SR 310', 'SR 1,277', 'SR 627', 'SR 557',
       'SR 587', 'SR 340', 'SR 776', 'SR 1,378', 'SR 671', 'SR 977',
       'SR 981', 'SR 1,365', 'SR 569', 'SR 345', 'SR 690', 'SR 380',
       'SR 370', 'SR 1,395', 'SR 432', 'SR 795', 'SR 1,505', 'SR 845',
       'SR 1,307', 'SR 1,190', 'SR 1,695', 'SR 1,650', 'SR 45',
       'SR 1,895', 'SR 1,182', 'SR 2,985', 'SR 745', 'SR 225', 'SR 75',
       'SR 99', 'SR 1,315', 'SR 20', 'SR 1,300', 'SR 19', 'SR 545',
       'SR 640', 'SR 1,620', 'SR 915', 'SR 95', 'SR 35', 'SR 325',
       'SR 1,835', 'SR 425', 'SR 263', 'SR 105', 'SR 1,645', 'SR 1,109',
       'SR 3,945', 'SR 1,099', 'SR 3,790', 'SR 1,495', 'SR 383', 'SR 699',
       'SR 2,175', 'SR 3,250', 'SR 1,045', 'SR 2,125', 'SR 4,475',
       'SR 2,045', 'SR 349', 'SR 4,445', 'SR 2,275', 'SR 179', 'SR 525',
       'SR 1,625', 'SR 570', 'SR 2,325', 'SR 1,150', 'SR 635', 'SR 1,125',
       'SR 575', 'SR 300', 'SR 2,350', 'SR 625', 'SR 475', 'SR 400',
       'SR 505', 'SR 1,225', 'SR 1,925', 'SR 1,200', 'SR 775', 'SR 1,525',
       'SR 2,050', 'SR 725', 'SR 1,325', 'SR 500', 'SR 1,975', 'SR 1,350',
       'SR 520', 'SR 435', 'SR 59', 'SR 185', 'SR 1,193', 'SR 3,208',
       'SR 519', 'SR 3,965', 'SR 29', 'SR 2,745', 'SR 2,165', 'SR 1,295',
       'SR 3,145', 'SR 39', 'SR 2,105', 'SR 752', 'SR 2,368', 'SR 24',
       'SR 2,225', 'SR 855', 'SR 1,243', 'SR 3,269', 'SR 445/2 pack',
       'SR 3,735', 'SR 540', 'SR 3,025', 'SR 2,945', 'SR 1,535',
       'SR 1,010', 'SR 1,570', 'SR 3,045', 'SR 1,545', 'SR 1,345',
       'SR 4,125', 'SR 5,725', 'SR 2,525', 'SR 1,210', 'SR 2,075',
       'SR 2,995', 'SR 8,350', 'SR 2,295', 'SR 215', 'SR 100', 'SR 6,795',
       'SR 150', 'SR 8,475', 'SR 200', 'SR 100/4 pack', 'SR 2,875',
       'SR 4,870', 'SR 130', 'SR 5,275', 'SR 850', 'SR 6,875', 'SR 4,495',
       'SR 175/2 pack', 'SR 4,750', 'SR 145', 'SR 1,275', 'SR 5,755',
       'SR 9,985', 'SR 5,145', 'SR 4,235', 'SR 6,625', 'SR 1,600',
       'SR 6,785', 'SR 3,885', 'SR 1,700', 'SR 7,245', 'SR 3,370',
       'SR 450', 'SR 2,695', 'SR 5,560', 'SR 8,000', 'SR 7,700',
       'SR 2,900', 'SR 4,885', 'SR 4,450', 'SR 5,890', 'SR 5,215',
       'SR 7,785', 'SR 1,675', 'SR 3,995', 'SR 9,685', 'SR 315', 'SR 90',
       'SR 955', 'SR 265', 'SR 865', 'SR 235', 'SR 85', 'SR 390',
       'SR 410', 'SR 495', 'SR 1,400', 'SR 2,240', 'SR 385', 'SR 7,090',
       'SR 6,590', 'SR 240', 'SR 6,660', 'SR 8,180', 'SR 4,140',
       'SR 4,090', 'SR 3,690', 'SR 900', 'SR 2,590', 'SR 7,380',
       'SR 3,585', 'SR 360', 'SR 420', 'SR 1,090', 'SR 2,010', 'SR 2,155',
       'SR 2,230', 'SR 2,770', 'SR 2,580', 'SR 1,230', 'SR 1,420',
       'SR 1,030', 'SR 3,425', 'SR 3,275', 'SR 535', 'SR 885', 'SR 2,870',
       'SR 2,760', 'SR 2,220', 'SR 1,985', 'SR 780', 'SR 660', 'SR 1,735',
       'SR 4,920', 'SR 4,490', 'SR 3,435', 'SR 980', 'SR 1,580', 'SR 730',
       'SR 2,245', 'SR 5,975', 'SR 2,270', 'SR 3,040', 'SR 3,535',
       'SR 910', 'SR 3,500', 'SR 3,440', 'SR 2,565', 'SR 4,195',
       'SR 1,355', 'SR 965', 'SR 1,145', 'SR 1,785', 'SR 3,375',
       'SR 1,655', 'SR 3,490', 'SR 2,035', 'SR 890', 'SR 2,815', 'SR 765',
       'SR 2,090', 'SR 2,830', 'SR 2,750', 'SR 2,235', 'SR 4,510',
       'SR 2,160', 'SR 3,290', 'SR 1,460', 'SR 1,815', 'SR 820',
       'SR 1,755', 'SR 1,050'], dtype=object)

In [29]:
data['old_price'].isna().sum()

np.int64(0)

In [33]:
data['old_price'] = data['old_price'].replace('No old price', np.nan)

In [34]:
data['old_price'].value_counts()

old_price
SR 995      12
SR 1,385    11
SR 595      10
SR 275       8
SR 2,375     7
            ..
SR 2,350     1
SR 1,925     1
SR 1,200     1
SR 1,975     1
SR 1,050     1
Name: count, Length: 364, dtype: int64

In [39]:
data['old_price'] = data['old_price'].astype(str)

In [40]:
data['old_price'].value_counts()

old_price
nan         3040
SR 995        12
SR 1,385      11
SR 595        10
SR 275         8
            ...
SR 3,145       1
SR 39          1
SR 2,105       1
SR 752         1
SR 1,050       1
Name: count, Length: 365, dtype: int64

In [41]:
data['old_price'] = data['old_price'].str.replace('SR', '', regex=False)

In [42]:
data['old_price'].value_counts()

old_price
nan       3040
 995        12
 1,385      11
 595        10
 275         8
          ...
 3,145       1
 39          1
 2,105       1
 752         1
 1,050       1
Name: count, Length: 365, dtype: int64